.players-list {
  background: url(../img/levels/church/church-bg.png) no-repeat center center;
}

.players-list__item.menu-item {
  position: relative;
  &:hover .player-number {
    opacity: 1;
  }
}

.player-number {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 20px;
  color: #fff;
  text-shadow: 0 0 3px #000;
  z-index: 1;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-name {
  position: relative;
  z-index: 2;
  color: #fff;
  font-size: 40px;
}
