section#start-options-screen.flex-row.flex-align_center_center.flex-align-self_auto.fade-in
  form.modal.flex-column.flex-align_center_stretch([formGroup]="form", (submit)="save()")
    header.title.modal-title.flex-row.flex-align_space-between_center
      button.navButton(type="button", routerLink="/")
        i.icon-arrow-left2
      span Options
      button.navButton(type="submit", [disabled]="disabled")
        i.icon-checkmark
    .modal-content.flex-row.flex-align_space-around_center.flex
      .flex-column.flex-align_center_center.flex
        span Field size
      .flex-column.flex-align_center_center.flex
        input.form-control(type="number", min="2", max="10", formControlName="size")
        .error-message(*ngIf="disabled")
          span Wrong size value (2-10 range)
