| Choose size!
input(type="number", min="2", max="100", #size="")
| Choose players number!
input(type="number", min="2", max="100", #players="")
button(type="button", (click)="play(size.value, players.value)") Fight!
